
h1 {
    text-align: center;
    color: red;
}

.slider img {
    width: 200px;
    height: 280px;
}

.vdo {
    margin: 10px 0px 0px 15px;
}
.container .vdo {
    width: 1080px;
    height: 720px;
}

hr {
    border: 2px solid yellow;
}

.container img {
    width: 150px;
    height: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

h3 {
    color: red;
    text-align: center;
}
.navbar-nav {
    margin-left: 65%;
    font-size: 20px;
    font: bold;
}

